<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=iformczt;PASSWORD=hnzt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="11" value="192.168.1.8;10000"/>
    <add key="12" value="192.168.1.8;10000"/>
    <add key="13" value="192.168.1.8;10000"/>
    <add key="14" value="192.168.1.8;10000"/>
    <add key="15" value="192.168.1.8;10000"/>
    <add key="16" value="192.168.1.8;10000"/>
    <add key="17" value="192.168.1.8;10000"/>
    <add key="18" value="192.168.1.8;10000"/>
    <add key="21" value="192.168.1.8;10000"/>
    <add key="22" value="192.168.1.8;10000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
