<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=czt;PASSWORD=czt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="11" value="10.75.142.1;9050"/>
    <add key="12" value="10.75.142.1;9050"/>
    <add key="13" value="10.75.142.1;9050"/>
    <add key="14" value="10.75.142.1;9050"/>
    <add key="15" value="10.75.142.1;9050"/>
    <add key="16" value="10.75.142.1;9050"/>
    <add key="17" value="10.75.142.1;9050"/>
    <add key="18" value="10.75.142.1;9050"/>
    <add key="21" value="10.75.142.1;9050"/>
    <add key="22" value="10.75.142.1;9050"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
