<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SourceAdd" value="1210"/>
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=CZT;PASSWORD=czt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WMSRefundOrderServiceImplServiceSoapBinding" />
        <binding name="GetMainBeltSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMainBelt" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.75.142.17/cweb/services/WMSRefundOrderService"
        binding="basicHttpBinding" bindingConfiguration="WMSRefundOrderServiceImplServiceSoapBinding"
        contract="MyService.WMSRefundOrderService" name="WMSRefundOrderServiceImplPort" />
      <endpoint address="http://localhost:10166/GetMainBelt.asmx" binding="basicHttpBinding"
        bindingConfiguration="GetMainBeltSoap" contract="GetMainBelt.GetMainBeltSoap"
        name="GetMainBeltSoap" />
      <endpoint address="http://10.75.141.8:8732/WcfServiceLib/MainBelt/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMainBelt"
        contract="Mainbelt2.IMainBelt" name="WSHttpBinding_IMainBelt">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
