<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=czt;PASSWORD=czt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
