<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=iformczt;PASSWORD=hnzt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>