<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LabelPrintEntities" connectionString="metadata=res://*/LabelSource.csdl|res://*/LabelSource.ssdl|res://*/LabelSource.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=iform;PASSWORD=hnzt123;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>