<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SourceAdd" value="1210"/>
    <add key="GroupNO" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=iformlocal;PASSWORD=hnzt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WMSBillServiceImplServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.75.109.127:8080/BS56/services/WMSBillService"
        binding="basicHttpBinding" bindingConfiguration="WMSBillServiceImplServiceSoapBinding"
        contract="ServiceReference1.WMSBillService" name="WMSBillServiceImplPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
