<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Version" value="2018-05-04"></add>
    <add key="SecCode" value="1"></add>
    <add key="Group1" value="3" />
    <add key="Group2" value="4" />
    <add key="GroupNO" value="2"/>
    <add key="OpcPresortServer" value="S7:[FJCONNECTIONGROUP2]" />
    <add key="UnionOpcServer" value="S7:[UnionConnection]" />
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=czt;PASSWORD=czt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
