<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SecCode" value="4"></add>
    <add key="Group1" value="7" />
    <add key="Group2" value="8" />
    <add key="OpcPresortServer" value="S7:[FJCONNECTIONGROUP4]" />
    
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.csdl|res://*/EntityData.ssdl|res://*/EntityData.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=czt;PASSWORD=czt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
